.the-quality-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.the-quality-header {
    width: 100%;
    text-align: center;
}

.the-quality-header h1 {
    font-weight: bold;
    color: #1F4B66;
}

.big-quality {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.the-quality-part {
    display: flex;
    align-items: center;
}

.reverse-the-quality-part {
    display: flex;
    align-items: center;
}

.the-quality-left-part {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 20px;
    box-shadow: 2px 2px rgba(156, 154, 154, 0.4);
}

.the-quality-part-number {
    padding-right: 10px;
    margin-bottom: 90px;
    margin-left: -30px;
}

.reverse-the-quality-part-number{
    padding-right: 10px;
    margin-bottom: 90px;
    margin-right: -40px;
}

.the-quality-left-part-description {
    display: flex;
    flex-direction: column;
}

.reverse-the-quality-left-part-description {
    display: flex;
    flex-direction: column;
}

.the-quality-left-part-description h1 {
    font-weight: bold;
    color: #1F4B66;
}

.reverse-the-quality-left-part-description-header h1 {
    font-weight: bold;
    color: #1F4B66;
}

.number-circle {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    padding: 8px;
    border: 2px solid;
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.blue {
    background: #1F4B66;
}

.orange {
    background: #EA8E4A;
}

.the-quality-pictures {
    width: 290px;
    height: 200px;
    border-radius: 20px;
}

// i-phone 5/SE
@media only screen and (min-width: 320px) {
    .the-quality-header{
        padding-bottom: 20px;
    }
    .the-quality-header h1 {
        font-size: 30px;
    }

    .the-quality-container {
        margin-top: 30px;
    }

    .the-quality-part {
       flex-direction: column;
    }

    .the-quality-left-part {
        width: 310px;
        height: 217px;
    }

    .the-quality-left-part-description-content {
        padding-right: 5px;
    }

    .the-quality-right-part {
        margin-left: 0px;
        margin-top:1px;
    }

    .the-quality-left-part-description h1 {
        font-size: 20px;
    }

    .reverse-the-quality-part {
        flex-direction: column;
    }

    .reverse-the-quality-left-part-description {
        padding-left:5px;
    }

    .reverse-the-quality-right-part {
        margin-right: 0px;
        margin-top: 1px;
    }

    .reverse-the-quality-left-part-description-header h1 {
        font-size: 20px;
    }
    
}
// // i-phone 6/7/8 
@media only screen and (min-width: 375px) {
    .the-quality-header{
        padding-bottom: 20px;
    }
    .the-quality-header h1 {
        font-size: 30px;
    }

    .the-quality-container {
        margin-top: 30px;
    }

    .the-quality-part {
       flex-direction: column;
    }

    .the-quality-left-part {
        width: 310px;
        height: 217px;
    }

    .the-quality-left-part-description-content {
        padding-right: 5px;
    }

    .the-quality-right-part {
        margin-left: 0px;
        margin-top:1px;
    }

    .the-quality-left-part-description h1 {
        font-size: 20px;
    }

    .reverse-the-quality-part {
        flex-direction: column;
    }

    .reverse-the-quality-left-part-description {
        padding-left:5px;
    }

    .reverse-the-quality-right-part {
        margin-right: 0px;
        margin-top: 1px;
    }

    .reverse-the-quality-left-part-description-header h1 {
        font-size: 20px;
    }
    
}
// // i-phone 6/7/8 Plus
@media only screen and (min-width: 414px) {

}
// // Ipad
@media only screen and (min-width: 768px) {
    .the-quality-header h1 {
        font-size: 40px;
    }

    .the-quality-container {
        margin-top: 50px;
    }

    .the-quality-header{
        padding-bottom: 0px;
    }

    .the-quality-part {
        flex-direction: row;
     }

     .the-quality-left-part {
        width: 470px;
        height: 165px;
    }

    .the-quality-left-part-description-content {
        padding-right: 100px;
    }

    .the-quality-right-part {
        margin-left: -80px;
        margin-top:0px;
    }

    .the-quality-left-part-description h1 {
        font-size: 25px;
    }

    .reverse-the-quality-part {
        flex-direction: row-reverse;
    }

    .reverse-the-quality-left-part-description {
        padding-left:100px;
    }

    .reverse-the-quality-right-part {
        margin-right:-80px;
        margin-top: 0px;
    }
}
// // Ipad Pro

@media only screen and (min-width: 1024px) {
    .the-quality-left-part {
        width: 650px;
        height: 165px;
    }
}
// Desktop
@media only screen and (min-width: 1100px) {
    .the-quality-header h1 {
        font-size: 40px;
    }

    .the-quality-container {
        margin-top: 50px;
    }

    .the-quality-header{
        padding-bottom: 0px;
    }

    .the-quality-part {
        flex-direction: row;
     }

     .the-quality-left-part {
        width: 700px;
        height: 150px;
    }

    .the-quality-left-part-description-content {
        padding-right: 100px;
    }

    .the-quality-right-part {
        margin-left: -80px;
        margin-top:0px;
    }

    .the-quality-left-part-description h1 {
        font-size: 30px;
    }

    .reverse-the-quality-part {
        flex-direction: row-reverse;
    }

    .reverse-the-quality-left-part-description {
        padding-left:100px;
    }

    .reverse-the-quality-right-part {
        margin-right:-80px;
        margin-top: 0px;
    }

    .reverse-the-quality-left-part-description-header h1 {
        font-size: 30px;
    }
    
}