.products-container {
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.products-header {
    font-weight: bold;
    color: #1F4B66;
}

.products-images {
    display: flex;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin-left: 130px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 23%;
    background-color: white;
    background-clip: border-box;
    border-radius: 2rem;
    padding-top: 20px;
    color: white;
}

.comingSoon-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 23%;
    background-color: gray;
    background-clip: border-box;
    border-radius: 2rem;
    padding-top: 20px;
    color: white;
}

.coming-soon-style {
    position: absolute;
}

.card-description {
    width: 95%;
    padding-bottom: 10px;
}

.card-description h3 {
    color: #1F4B66;
    font-weight: bold;
}

.card-description p {
    color: #555555;
    opacity: 0.75;
    padding-left: 5px;
}

.card-description a {
    color: #555555;
    opacity: 0.75;
    float: right;
    cursor: pointer;
}

.card-description a:hover {
    color: #1F4B66;
    opacity: 1;
}

.com-soon-div {
    position: absolute;
}

// i-phone 5/SE
@media only screen and (min-width: 320px) {
    .products-container {
        height: 1570px;
        margin-top: 0px;
    }

    .centered {
        width: 100%
    }

    .products-header {
        font-size: 30px;
        padding-bottom: 50px;
    }

    .product-image-style {
        width: 75%;
        height: 40%;
        margin-left: 32px;
    }

    .products-images {
        width: 90%;
        margin-left: 30px;
        // flex-direction: column;
    }

    .card {
        width: 94%;
        margin-bottom: 20px;
    }

    .card-description h3 {
        font-size: 20px;
    }

    .card-description p {
        font-size: 12px;
    }

    .coming-soon-style {
        width: 153px;
        height: 35px;
    }

    .com-soon-div {
        right: 66%;
        top: 6%;
    }
}

// // i-phone 6/7/8 
@media only screen and (min-width: 375px) {
    .products-container {
        height: 1630px;
        margin-top: 0px;
    }

    .centered {
        width: 100%
    }

    .products-header {
        font-size: 30px;
        padding-bottom: 50px;
    }

    .product-image-style {
        width: 75%;
        height: 40%;
        margin-left: 32px;
    }

    .products-images {
        width: 90%;
        margin-left: 30px;
        // flex-direction: column;
    }

    .card {
        width: 94%;
        margin-bottom: 20px;
    }

    .coming-soon-style {
        width: 183px;
        height: 45px;
    }

    .com-soon-div {
        right: 66%;
        top: 6%;
    }

}

// // Ipad
@media only screen and (min-width: 768px) {
    .products-container {
        height: 935px;
        margin-top: 0px;
    }

    .card {
        width: 49%;
        margin-bottom: 20px;
    }

    .products-images {
        width: 95%;
        margin-left: 20px;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 20px;
    }

    .products-header {
        font-size: 2.5rem;
        padding-bottom: 50px;
    }

    .product-image-style {
        width: 80%;
        height: 55%;
        margin-left: 36px;
    }

    .coming-soon-style {
        width: 183px;
        height: 45px;
    }

    .com-soon-div {
        right: 54%;
        top: 6%;
    }

}

// // Ipad Pro

@media only screen and (min-width: 1024px) {
    .products-container {
        height: 1250px;
        margin-top: 0px;
    }

    .product-image-style {
        width: 80%;
        height: 55%;
        margin-left: 40px;
    }

    .card-description h3 {
        font-size: 30px;
    }

    .card-description p {
        font-size: 18px;
    }

    .coming-soon-style {
        width: 183px;
        height: 45px;
    }

    .com-soon-div {
        right: 40%;
        top: 6%;
    }

}

// Desktop
@media only screen and (min-width: 1100px) {
    .products-container {
        height: 555px;
        margin-top: 85px;
    }

    .products-header {
        font-size: 2.5rem;
        padding-bottom: 50px;
    }

    .products-images {
        margin-top: 35px;
        // display:flex;
    }

    .product-image-style {
        width: 95%;
        height: 50%;
        margin-left: 5px;
    }

    .products-images {
        width: 85%;
        margin-left: 130px;
        flex-direction: row;
    }

    .card {
        width: 23%;
        margin-bottom: 0px;
    }

    .comingSoon-card {
        width: 23%;
        margin-bottom: 0px;
    }

    .card-description h3 {
        font-size: 28px;
    }

    .card-description p {
        font-size: 14px;
    }

    .coming-soon-style {
        width: 190px;
        height: 50px;
    }

    .com-soon-div {
        right: 66%;
        top: 7%;
    }
}