.about-container {
    display: flex;
    padding: 25px;
    background: url(../../../../../assets/images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:50px;
}

.about-header {
    width: 100%;
    text-align: center;
}

.about-header p{
    opacity: 0.75;
    position: absolute;
    color:white;
}

.about-header-font {
    font-weight: bold;
    color:white;
}

.about-bg {
    border: 2px solid black;
}

.test-btn:hover {
    text-decoration: none ;
    background-color: #F0F0F0;
}


// i-phone 5/SE
@media only screen and (min-width: 320px) {
    .about-container {
        height: 300px;
    }

    .about-header {
        margin-top: 0px;
        padding-bottom: 0px;
    }

    .about-header-font {
        font-size: 30px;
    }

    .about-description {
        padding-bottom: 98px;
        padding-top: 0px;
    }

    .about-header p {
        width: 90%;
        left: 6%;
        font-size: 14px;
    }  

}

// // i-phone 6/7/8 
@media only screen and (min-width: 375px) {
    .about-container {
        height: 300px;
    }

    .about-header {
        margin-top: 0px;
        padding-bottom: 0px;
    }

    .about-header-font {
        font-size: 30px;
    }

    .about-description {
        padding-bottom: 98px;
        padding-top: 0px;
    }

    .about-header p {
        width: 90%;
        left: 6%;
        font-size: 14px;
    }  
}

// // Ipad
@media only screen and (min-width: 768px) {
    .about-header {
        margin-top: 0px;
    }

    .about-header-font {
        font-size: 50px;
    }
    .about-description {
        padding-bottom: 80px;
        padding-top: 0px;
    }
}

// // Ipad Pro

@media only screen and (min-width: 1024px) {
    .about-container {
        height: 500px;
    }

    .about-header {
        margin-top: 65px;
        padding-bottom: 0px;
    }

    .about-header-font {
        font-size: 50px;
    }

    .about-header p {
        width: 64%;
        left: 19%;
        font-size: 20px;
    }

    .about-description {
        padding-bottom: 125px;
        padding-top: 20px;
    }

}

// Desktop
@media only screen and (min-width: 1100px) {
    .about-container {
        height: 460px;
    }

    .about-header {
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .about-header-font {
        font-size: 50px;
    }

    .about-header p{
        width: 65%;
        left: 17%;
        font-size:22px;
    }

    .about-description {
        padding-bottom: 110px;
        padding-top: 30px;
    }
}