.contact-container {
    background: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-header {
    width: 100%;
    text-align: center;
}

.contact-header-font {
    font-weight: bold;
    font-size: 65px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.input-field {
    background: white;
}

.input-field-long {
    background: white;
}

.submit-btn {
    background: #E7731F;
    color: white;
    font-weight: bold;
}

// i-phone 5/SE
@media only screen and (min-width: 320px) {
    .contact-header-font {
        font-size: 40px;
    }

    .input-field {
        width: 35ch;
    }

    .input-field-long {
        width: 35ch;
    }

    .submit-btn {
        font-size: 15px;
        margin-left: 24ch;
    }
}

// // i-phone 6/7/8 
@media only screen and (min-width: 375px) {
    .contact-header-font {
        font-size: 40px;
    }

    .input-field {
        width: 40ch;
    }

    .input-field-long {
        width: 40ch;
    }

    .submit-btn {
        font-size: 15px;
        margin-left: 25ch;
    }
}

// // i-phone 6/7/8 Plus
@media only screen and (min-width: 414px) {
    .input-field {
        width: 46ch;
    }

    .input-field-long {
        width: 46ch;
    }

    .submit-btn {
        font-size: 15px;
        margin-left: 26ch;
    }
}

// // Ipad
@media only screen and (min-width: 768px) {
    .input-field-long {
        width: 86ch;
    }

    .input-field {
        width: 42ch;
    }

    .submit-btn {
        font-size: 25px;
        margin-left: 40ch;
    }

    .contact-header-font {
        font-size: 65px;
    }
}

// // Ipad Pro

@media only screen and (min-width: 1024px) {
    .contact-header-font {
        font-size: 65px;
    }

    .input-field-long {
        width: 94ch;
    }

    .input-field {
        width: 46ch;
    }

    .submit-btn {
        font-size: 25px;
        margin-left: 44ch;
    }
}

// Desktop
@media only screen and (min-width: 1100px) {
    .contact-container {
        height: 1060px;
    }

    .contact-header-font {
        font-size: 65px;
    }

    .input-field {
        width: 50ch;
    }

    .input-field-long {
        width: 102ch;
    }

    .submit-btn {
        font-size: 25px;
        margin-left: 49ch;
    }

    .google-map {
        width: 880px;
        height: 400px;
    }
}