.header-container {
  display: flex;
  justify-content: space-between;
}

.intro-img {
  width: 100%;
  filter: brightness(70%);
  z-index: -1;
  object-fit: cover;
}

.logo {
  cursor: pointer;
}

.right-part {
  width: 45%;
  position: absolute;
  right: 0;
  z-index: 10;
}

.left-part {
  position: absolute;
  z-index: 10;
}

.header-links-font {
  color: white;
}

.header-links-font:hover {
  color: #EA8E4A;
}

.header-links:hover {
  text-decoration: none;
}

.center-part {
  z-index: 1;
  text-align: center;
  position: absolute;
}

.first-row {
  color: white;
  font-weight: bolder;
  letter-spacing: 6px;
}

.second-row {
  color: white;
  font-weight: bold;
  color: #EA8E4A;
}

.owl-stage-outer {
  z-index: -1;
}

.social-media {
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: white;
  position: fixed;
  top: 35%;
  right: 0;
  background: rgba(156, 154, 154, 0.4);
  justify-content: space-around;
  border-radius: 12px 0px 0px 12px;
  cursor: pointer;
}

.for-more {
  position: absolute;
  z-index: 1;
  top: 70%;
}

.for-more h3 {
  color: white;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  opacity: 0.4;
}

.arrow {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3px;
}

.bright1 {
  filter: brightness(0.5);
}

.bright2 {
  filter: brightness(0.7);
}

.bright3 {
  filter: brightness(1);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.social-icon-style {
  color: white;
}

.social-icon-style:hover {
  color: #EA8E4A;
}

// i-phone 5/SE
@media only screen and (min-width: 320px) {
  .header-container {
    height: 640px;
  }

  .logo {
    width: 70px;
    height: 50px;
  }

  .left-part {
    margin-left: 120px;
  }

  .header-links-font {
    font-size: 9px !important;
  }

  .right-part {
    width: 80%;
    display: flex;
    justify-content: space-around;
    top: 4%;
  }

  .intro-img {
    height: 570px;
  }

  .first-row {
    font-size: 35px;
  }

  .second-row {
    font-size: 21px
  }

  .center-part {
    top: 40%;
    left: 0%;
  }

  .for-more {
    top: 77%;
  }

  .for-more h3 {
    font-size: 0.9em;
  }

  .arrow {
    border-width: 0 3px 3px 0;
    padding: 2px;
  }

  .social-media {
    height: 135px;
    padding: 2px;
  }

}

// // i-phone 6/7/8 
@media only screen and (min-width: 375px) {
  .header-container {
    height: 735px;
  }

  .header-container1 {
    height: 50px;
  }

  .logo {
    width: 70px;
    height: 50px;
  }

  .left-part {
    margin-left: 140px;
  }

  .header-links-font {
    font-size: 10px !important;
  }

  .right-part {
    width: 80%;
    display: flex;
    justify-content: space-around;
    top: 4%;
  }

  .intro-img {
    height: 666px;
  }

  .first-row {
    font-size: 35px;
  }

  .second-row {
    font-size: 21px
  }

  .center-part {
    top: 40%;
    left: 6%;
  }

  .for-more {
    top: 80%;
  }

  .for-more h3 {
    font-size: 0.9em;
  }

  .arrow {
    border-width: 0 3px 3px 0;
    padding: 2px;
  }

  .social-media {
    height: 135px;
    padding: 2px;
  }

  .makeStyles-drawerPaper-7 {
    width: 200px;
  }

}

// // i-phone 6/7/8 Plus
@media only screen and (min-width: 414px) {
  .header-container {
    height: 805px;
  }

  .logo {
    width: 70px;
    height: 50px;
  }

  .left-part {
    margin-left: 140px;
  }

  .header-links-font {
    font-size: 10px !important;
  }

  .right-part {
    top: 4%;
  }

  .intro-img {
    height: 740px;
  }

  .first-row {
    font-size: 35px;
  }

  .second-row {
    font-size: 24px;
  }

  .center-part {
    top: 40%;
    left: 6%;
  }

  .for-more {
    top: 80%;
  }

  .for-more h3 {
    font-size: 0.9em;
  }

  .arrow {
    border-width: 0 3px 3px 0;
    padding: 2px;
  }

}

// // Ipad
@media only screen and (min-width: 768px) {
  .header-container {
    height: 820px;
  }

  .header-links-font {
    font-size: 16px !important;
  }

  .logo {
    width: 135px;
    height: 100px;
  }

  .left-part {
    margin-left: 10px;
  }

  .right-part {
    top: 5%;
  }

  .center-part {
    top: 35%;
    left: 2%;
  }

  .first-row {
    font-size: 55px;
  }

  .second-row {
    font-size: 30px;
  }

  .for-more {
    top: 58%;
  }

  .social-media {
    height: 165px;
    padding: 6px;
  }

}

// // Ipad Pro

@media only screen and (min-width: 1024px) {
  .header-container {
    height: 820px;
  }

  .header-links-font {
    font-size: 20px !important;
  }

  .logo {
    width: 165px;
    height: 110px;
  }

  .right-part {
    top: 4%;
  }

  .center-part {
    top: 22%;
    left: 2%;
  }

  .first-row {
    font-size: 55px;
  }

  .second-row {
    font-size: 30px;
  }

  .for-more {
    top: 44%;
  }

  .social-media {
    height: 165px;
    padding: 9px;
  }
}

// Desktop
@media only screen and (min-width: 1100px) {
  .header-container {
    height: 750px;
  }

  .intro-img {
    height: 750px;
  }

  .logo {
    width: 125px;
    height: 80px;
  }

  .header-links-font {
    font-size: 20px !important;
  }

  .right-part {
    width: 45%;
    top: 5%;
    margin-right: 15px;
  }

  .left-part {
    margin-left: 0px;
  }

  .first-row {
    font-size: 60px;
  }

  .second-row {
    font-size: 30px;
  }

  .center-part {
    top: 37%;
    left: 12%;
    width: 80%;
  }

  .intro-img {
    height: 750px;
  }

  .for-more {
    top: 77%;
  }

  .for-more h3 {
    font-size: 1.17em;
  }

  .arrow {
    border-width: 0 5px 5px 0;
    padding: 3px;
  }

  .social-media {
    height: 150px;
    padding: 6px;
  }

}