.new-header-container {
    display: flex;
    justify-content: space-between;
    background: #1F4B66;
  }
  
// i-phone 5/SE
@media only screen and (min-width: 320px) {
  .new-header-container {
    height: 70px;
  }

}
// // i-phone 6/7/8 
@media only screen and (min-width: 375px) {
  .new-header-container {
    height: 70px;
  }
}
// // i-phone 6/7/8 Plus
@media only screen and (min-width: 414px) {

}
// // Ipad
@media only screen and (min-width: 768px) {
  .new-header-container {
    height: 100px;
  }
}
// // Ipad Pro

@media only screen and (min-width: 1024px) {

}
// Desktop
@media only screen and (min-width: 1100px) {
  .new-header-container {
    height: 75px;
  }

}
  