.clients-container {
    display: flex;
    padding: 25px;
    background: url(../../../../../assets/images/ourClients.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.clients-header {
    width: 100%;
    text-align: center;
}

.clients-header-font {
    font-weight: bold;
    color: white;

}

.owl-BG {
    border-radius: 20px;
    width: 90% !important;
}

.item2 {
    border-radius: 50%;
    background: white;
}

.owl-prev span,
.owl-next span {
    color: #FFF;
}

.owl-prev span:hover,
.owl-next span:hover {
    color: #1F4B66;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 0;
    height: 100%;
}


.owl-theme .owl-nav [class*=owl-] {
    height: 0px;
}

/* removing blue outline from buttons */
button:focus,
button:active {
    outline: none;
}

// i-phone 5/SE
@media only screen and (min-width: 320px) {
    .clients-container {
        height: 240px;
    }

    .clients-header-font {
        font-size: 26px;
    }

    .item2 {
        padding: 5px;
        width: 70px;
    }

    .owl-prev {
        left: -40px;
    }

    .owl-next {
        right: -40px;
    }

    .owl-prev,
    .owl-next {
        top: 20px;
    }

}

// // i-phone 6/7/8 
@media only screen and (min-width: 375px) {

    .clients-container {
        height: 240px;
    }

    .clients-header-font {
        font-size: 30px;
    }

    .item2 {
        padding: 3px;
        width: 66px;
        margin-left: 24px;
    }

    .owl-prev {
        left: -5px;
    }

    .owl-next {
        right: -25px;
    }

    .owl-prev,
    .owl-next {
        top: 14px;
    }
}

// // i-phone 6/7/8 Plus
@media only screen and (min-width: 414px) {

    .owl-prev {
        left: -20px;
    }

    .owl-next {
        right: -20px;
    }

    .owl-prev,
    .owl-next {
        top: 20px;
    }
}

// // Ipad
@media only screen and (min-width: 768px) {
    .clients-container {
        height: 345px;
    }

    .clients-header-font {
        font-size: 50px;
    }

    .item2 {
        width: 135px;
        margin-left: 5px;
    }

    .owl-prev,
    .owl-next {
        top: 50px;
    }

    .owl-prev {
        left: -45px;
    }

    .owl-next {
        right: -33px;
    }
}

// // Ipad Pro

@media only screen and (min-width: 1024px) {
    .clients-container {
        height: 400px;
    }

    .clients-header-font {
        font-size: 50px;
    }

    .item2 {
        width: 186px;
        margin-left: 25px;
        padding: 25px;

    }

    .owl-prev,
    .owl-next {
        top: 80px;
    }

    .owl-prev {
        left: -45px;
    }

    .owl-next {
        right: -33px;
    }

}

// Desktop
@media only screen and (min-width: 1100px) {
    .clients-container {
        height: 450px;
    }

    .clients-header {
        padding-top: 30px;
    }

    .clients-header-font {
        font-size: 50px;
    }

    .item2 {
        width: 200px;
        margin-left: 60px;
        padding: 25px;
    }

    .owl-prev {
        left: 1px;
    }

    .owl-next {
        right: 1px;
    }

    .owl-prev,
    .owl-next {
        top: 85px;
    }
}