.the-products-container {
    display: flex;
    padding: 25px;
    background: url(../../../assets/images/aboutUs.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 50px;
}


.products-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-content-header h1 {
    font-weight: bold;
    color: white;
}

.products-content-description p {
    font-weight: bold;
    color: white;
}

.quote-part {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

}

.types-part {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.type-card {
    background: white;
    margin-bottom: 20px;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.type-card:hover {
    background: #EA8E4A;
}

.activeOne {
    background: #EA8E4A;
}

.type-card h2 {
    font-weight: bold;
    color: #1F4B66;
    font-size: 25px;
}

.quote-content {
    display: flex;
    padding-top: 50px;
}

.quote-image {
    height: 495px;
    border-radius: 25px;
    object-fit: cover;
    max-width: 100%;
}

.quote-content-right-part {
    display: flex;
    background: white;
    border-radius: 0px 25px 25px 0px;
    justify-content: center;
    flex-direction: column;
}
.quote-content-right-part1{
    display: flex;
    background: white;
    border-radius: 0px 25px 25px 0px;
    justify-content: center;
    flex-direction: column;
}

.big-quote {
    display: flex;
    justify-content: space-around;
}

.standard {
    padding-right: 20px;
    padding-top: 20px;
}

.standard-header {
    background: #1F4B66;
    width: 206px;
    height: 70px;
    border-radius: 25px;
    position: relative;
    z-index: 100;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.standard-header h1 {
    font-size: 20px;
}

.standard-body {
    background: #F0F0F0;
    width: 206px;
    height: 325px;
    border-radius: 8px;
    margin-top: -38px;
    position: relative;
    z-index: 0;
    overflow: auto;

}

.the-comparison {
    display: flex;
    justify-content: space-around;
}

.small-types-comparison {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.quote-vl {
    border-left: 1px solid #1F4B66;
    // height: 975px;
}

.the-comparison-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.left-padding {
    padding-left: 10px;
    padding-right: 5px;
}

.big-right-part {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-left: 20px;
}

.button-container {
    display: flex;
    flex-direction: row-reverse;
}

.quote-content-left-part {
    width: 375px;
}

.no-items-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.add-item-btn {
    width: 70%;
}

.quote-form-header {
    padding-bottom: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MuiListItemIcon-root {
    min-width: 30px;
}

.big-quote-form {
    display: none;
    justify-content: center;
}

.quote-input-field {
    color: #1F4B66;
    font-weight: bold;
}

.quote-input-field-long {
    color: #1F4B66;
    font-weight: bold;
}

.quote-submit-btn {
    font-size: 20px;
    background-color: #F0F0F0;
    color: #EA8E4A;
    border-radius: 25px;
    border: 2px solid #1F4B66;
}

.quote-submit-btn:hover {
    background-color: #1F4B66;
}

.colored {
    width: 165px !important;
}

// scrollbar
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.the-comparison-content p {
    cursor: pointer;
}

.new-div {
    padding-top: 45px;
}

.normalSelection {
    color: black;
    //   background:black;
}

.activeSelection {
    color: #EA8E4A;
    font-weight: bold;
}

.data-sent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.the-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.the-type-description {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin-bottom: 20px;
    height: 150px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 50px;
}

.custom-input-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
    // padding-bottom: 50px;
}

.print-logo {
    margin-top: 100px;
}

.next-button {
    float: right;
}

.coming-soon-plastic-div {
    position: absolute;
    z-index: 1;
}

// i-phone 5/SE
@media only screen and (min-width: 320px) {
    .the-products-container {
        height: 500px;
    }

    .products-content {
        padding-top: 5px;
    }

    .products-content-header h1 {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .products-content-description {
        width: 90%;
    }

    .products-content-description p {
        font-size: 17px;
    }

    .quote-content-left-part {
        display: none;
    }

    .quote-content-right-part {
        width: 100%;
        height: 1580px;
        margin-top: 0px;
    }
    .quote-content-right-part1{
        width: 100%;
        height: 885px;
        margin-top: 0px;
    }

    .big-right-part {
        flex-direction: column;
        align-items: center;
    }

    .quote-content {
        padding-top: 5px;
    }

    .data-sent h2 {
        font-size: 1.2rem;
    }

    .the-type-description p {
        font-size: 12px;
    }

}

// // i-phone 6/7/8 
@media only screen and (min-width: 375px) {

    .the-products-container {
        height: 600px;
    }

    .products-content {
        padding-top: 5px;
    }

    .products-content-header h1 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .products-content-description {
        width: 80%;
    }

    .products-content-description p {
        font-size: 17px;
    }

    .quote-content-left-part {
        display: none;
    }

    .quote-content-right-part {
        width: 100%;
        height: 1585px;
        margin-top: 0px;
    }
    .quote-content-right-part {
        width: 100%;
        height: 1585px;
        margin-top: 0px;
    }

    .big-right-part {
        flex-direction: column;
        align-items: center;
    }

    .quote-content {
        padding-top: 5px;
    }

    .quote-form-container {
        width: 95%;
    }

    .quote-submit-btn {
        // margin-left: 7ch;
        float: right;
    }

    .quote-input-field {
        width: 26ch;
    }

    .quote-input-field-long {
        width: 26ch;
    }

    .MuiListItem-root {
        width: 70%;
    }

    .data-sent h2 {
        font-size: 1.4rem;
    }

    .the-type-description {
        width: 95%;
    }

    .the-type-description p {
        font-size: 14px;
    }

    .button-container {
        margin-right: 0px;
    }

    .custom-input-fields {
        flex-direction: column;
    }

    .coming-soon-plastic-div {
        left: 16%;
        top: 250%;
    }

    .coming-quote {
        width: 255px;
        height: 60px;
    }

}

// // i-phone 6/7/8 Plus
@media only screen and (min-width: 414px) {
    .the-products-container {
        height: 675px;
    }
}

// // Ipad
@media only screen and (min-width: 768px) {
    .the-products-container {
        height: 400px;
    }

    .products-content-description {
        width: 50%;
    }

    .products-content-description p {
        font-size: 18px;
    }

    .quote-content-left-part {
        display: block;
    }

    .quote-content-right-part {
        width: calc(98% - 375px);
        height: 450px;
        margin-top: 20px;
    }
    .quote-content-right-part1 {
        width: calc(98% - 375px);
        height: 450px;
        margin-top: 20px;
    }

    .big-right-part {
        flex-direction: row;
    }

    .quote-content {
        padding-top: 50px;
    }

    .quote-input-field {
        width: 46ch;
    }

    .quote-input-field-long {
        width: 94ch;
    }
}

// // Ipad Pro

@media only screen and (min-width: 1024px) {

    .the-products-container {
        height: 400px;
    }

    .products-content-description {
        width: 50%;
    }

    .products-content-description p {
        font-size: 18px;
    }

    .quote-content-right-part {
        width: calc(98% - 383px);
        height: 450px;
        margin-top: 20px;
    }
    .quote-content-right-part1 {
        width: calc(98% - 383px);
        height: 450px;
        margin-top: 20px;
    }
}

// Desktop
@media only screen and (min-width: 1100px) {
    .products-content {
        padding-top: 100px;
    }

    .products-content-header h1 {
        font-size: 40px;
        padding-bottom: 40px;
    }

    .products-content-description {
        width: 65%;
    }

    .the-products-container {
        height: 460px;
    }

    .products-content-description p {
        font-size: 20px;
    }

    .quote-content-left-part {
        display: block;
    }

    .quote-content-right-part {
        width: calc(100% - 375px);
        height: 450px;
        margin-top: 20px;
    }
    .quote-content-right-part1 {
        width: calc(100% - 375px);
        height: 450px;
        margin-top: 20px;
    }

    .big-right-part {
        flex-direction: row;
    }

    .quote-content {
        padding-top: 50px;
    }

    .quote-form-container {
        width: 70%;
    }

    // .quote-submit-btn {
    //     margin-left: 67ch;
    // }

    .quote-input-field {
        width: 47ch;
    }

    .quote-input-field-long {
        width: 96ch;
    }

    .MuiListItem-root {
        width: 25%;
    }

    .data-sent h2 {
        font-size: 2rem;
    }

    .the-type-description {
        width: 60%;
    }

    .the-type-description p {
        font-size: 20px;
    }

    .button-container {
        margin-right: 25px;
    }

    .custom-input-fields {
        flex-direction: row;
    }

    .coming-soon-plastic-div {
        left: 60%;
        top: 180%;
    }
    .coming-quote {
        width: 270px;
        height: 60px;
    }
    
}

.quota-input-field,
.quota-input-field-long {
    max-width: 100%;
}