.aboutUs-description {
    display: flex;
    padding: 25px;
    background: url(../../../assets/images/aboutUs.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}


.aboutUs-header-font {
    font-weight: bold;
    color: #1F4B66;
}

.aboutUs-description {
    display: flex;
    flex-direction: column;
}

.aboutUs-description h1 {
    font-weight: bold;
    color: white;
    width: 100%;
    text-align: center;
}

.our-factories {
    display: flex;
    flex-direction: column;
}

.our-factories-header h1 {
    font-weight: bold;
    color: #1F4B66;
    display: flex;
    justify-content: center;
}

.our-factories-container {
    display: flex;
    justify-content: space-around;
}

.about-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    background-clip: border-box;
    border-radius: 2rem;
    padding-top: 20px;
    color: white;
}

.about-card h1 {
    color: black;
}

.about-card-description {
    padding-top: 20px;
    width: 95%;
    margin-left: 32px;
    padding-right: 32px;
}

.factory-image-style {
    height: 400px;
    border-radius: 25px;
}

.small-image-style {
    width: 160px;
    height: 154px;
    padding-top: 15px;
}

.about-card-description h1 {
    font-weight: bold;
    color: #1F4B66;
    font-size: 30px;
}

.about-card-description p {

    color: #1F4B66;
    font-size: 20px;
}


// i-phone 5/SE
@media only screen and (min-width: 320px) {

    .aboutUs-description {
        margin-top: 25px;
    }

    .aboutUs-header-font {
        font-size: 30px;
        padding-top: 20px;
    }

    .aboutUs-description h1 {
        font-size: 25px;
        padding-bottom: 25px;
    }

    .our-factories-header h1 {
        font-size: 30px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .our-factories-container {
        flex-direction: column;
        margin-left: 18px;
        padding-bottom: 5px;

    }

    .about-card {
        width: 94%;
        margin-bottom: 30px;
    }

    .factory-image-style {
        width: 90%;
        margin-left: 16px;
    }

    .small-image-style {
        margin-left: 65px;
    }

    .videos {
        width:280px ;
        height:200px;
    }
}

// // i-phone 6/7/8 
@media only screen and (min-width: 375px) {

    .aboutUs-description {
        margin-top: 25px;
    }

    .aboutUs-header-font {
        font-size: 30px;
        padding-top: 20px;
    }

    .aboutUs-description h1 {
        font-size: 25px;
        padding-bottom: 25px;
    }

    .our-factories-header h1 {
        font-size: 30px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .our-factories-container {
        flex-direction: column;
        margin-left: 18px;
        padding-bottom: 5px;

    }

    .about-card {
        width: 94%;
        margin-bottom: 30px;
    }

    .factory-image-style {
        width: 90%;
        margin-left: 16px;
    }

    .small-image-style {
        margin-left: 86px;
    }

    .videos {
        width:333px ;
        height:200px;
    }

}

// // i-phone 6/7/8 Plus
@media only screen and (min-width: 414px) {
    .videos {
        width:370px ;
        height:200px;
    }
}

// // Ipad
@media only screen and (min-width: 768px) {

    .small-image-style {
        margin-left: 50px;
    }
    .videos {
        width:704px ;
        height:290px;
    }
}

// // Ipad Pro

@media only screen and (min-width: 1024px) {
    .small-image-style {
        margin-left: 105px;
    }

    .about-header {
        margin-top: 15px;
    }

    .factory-image-style {
        width: 96%;
    }

    .our-factories-container {
        margin-left: 40px;
    }

    .videos {
        width:922px ;
        height:330px;
    }
}

// Desktop
@media only screen and (min-width: 1100px) {

    .aboutUs-description {
        margin-top: 50px;
    }

    .aboutUs-header-font {
        font-size: 40px;
        padding-top: 0px;
    }

    .aboutUs-description h1 {
        font-size: 30px;
        padding-bottom: 50px;
    }

    .our-factories-header h1 {
        font-size: 40px;
        padding-bottom: 50px;
        padding-top: 0px;
    }

    .our-factories-container {
        flex-direction: row;
        margin-left: 0px;
        padding-bottom: 50px;

    }

    .about-card {
        width: 45%;
        margin-bottom: 0px;
    }

    .factory-image-style {
        width: 90%;
        margin-left: 32px;
    }

    .small-image-style {
        margin-left: 52px;
    }

    .videos {
        width:687px ;
        height:300px;
    }
}