.contact-header-font {
    font-weight: bold;
    color: #1F4B66;
    padding-bottom: 15px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}

.submit-btn:hover {
    background-color: #1F4B66;
    color: white;
}

.contact-header {
    width: 100%;
    text-align: center;
}

.big-contact-info {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
}

.contact-information {
    display: flex;
    justify-content: space-around;
}

.the-company {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.the-factory {
    display: flex;
    flex-direction: column;
}

.same-row {
    display: flex;
}

.contact-information-header {
    display: flex;
    justify-content: center;
}

.big-locations {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.our-locations {
    display: flex;
}

.the-locations {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.first-part h1 {
    cursor: pointer;
}

.activeLocation {
    color: #1F4B66;
    // text-decoration-thickness: 2px;
    text-decoration: underline;
}


// i-phone 5/SE
@media only screen and (min-width: 320px) {
    .contact-form {
        width: 90%;
        margin-left: 20px;
    }

    .contact-header-font {
        font-size: 20px;
    }

    .input-field {
        width: 29ch;
    }

    .input-field-long {
        width: 29ch;
    }

    .submit-btn {
        font-size: 17px;
        margin-left: 15ch;
    }

    .big-contact-info {
        width: 90%;
        margin-left: 20px;
    }

    .contact-information {
        flex-direction: column;
        margin-left: 20px;
    }

    .second-part h1 {
        font-size: 20px;
        font-weight: bold;
    }

    .big-locations {
        width: 90%;
        margin-left: 20px;
    }

    .our-locations {
        flex-direction: column;
        height: 640px;
        justify-content: space-between;
    }

    .the-locations {
        margin-left:10px;
    }

    .location-on-map {
        width: 255px;
        height: 300px;
        margin-left:17px;
    }

    .same-row {
        width: 280px;
    }
    
    .first-part h1 {
        font-size: 20px;
    }
}

// // i-phone 6/7/8 
@media only screen and (min-width: 375px) {
    .contact-form {
        width: 90%;
        margin-left: 20px;
    }

    .contact-header-font {
        font-size: 20px;
    }

    .input-field {
        width: 34ch;
    }

    .input-field-long {
        width: 35ch;
    }

    .submit-btn {
        font-size: 18px;
        margin-left: 17ch;
    }

    .big-contact-info {
        width: 90%;
        margin-left: 20px;
    }

    .contact-information {
        flex-direction: column;
        margin-left: 20px;
    }

    .second-part h1 {
        font-size: 22px;
        font-weight: bold;
    }

    .big-locations {
        width: 90%;
        margin-left: 20px;
    }

    .our-locations {
        flex-direction: column;
        height: 640px;
        justify-content: space-between;
    }

    .the-locations {
        margin-left:10px;
    }

    .location-on-map {
        width: 305px;
        height: 325px;
        margin-left:17px;
    }

    .same-row {
        width: 330px;
    }
    
    .first-part h1 {
        font-size: 25px;
    }

}

// // i-phone 6/7/8 Plus
@media only screen and (min-width: 414px) {
    .input-field {
        width: 38ch;
    }

    .input-field-long {
        width: 38ch;
    }

    .location-on-map {
        width: 337px;
    }

}

// // Ipad
@media only screen and (min-width: 768px) {
    .input-field {
        width: 34ch;
    }

    .input-field-long {
        width: 70ch;
    }

    .submit-btn {
        font-size: 20px;
        margin-left: 44ch;
    }

    .big-contact-info {
        width: 90%;
        margin-left: 20px;
    }

    .contact-information {
        flex-direction: row;
        margin-left: 190px;
    }

    .second-part h1 {
        font-size: 20px;
        font-weight: bold;
    }

    .big-locations {
        width: 90%;
        margin-left: 20px;
    }

    .our-locations {
        flex-direction: row;
        height: 400px;
        justify-content: space-around;
    }

    .the-locations {
        margin-left:0px;
    }

    .location-on-map {
        width: 307px;
        height: 370px;
        margin-left:-35px;
    }

    .same-row {
        width: 365px;
    }

    .first-part h1 {
        font-size: 25px;
    }
}

// // Ipad Pro

@media only screen and (min-width: 1024px) {
    .contact-form {
        width: 80%;
        margin-left: 105px;
    }

    .contact-header-font {
        font-size: 40px;
    }

    .input-field {
        width: 35ch;
    }

    .input-field-long {
        width: 71ch;
    }

    .submit-btn {
        font-size: 20px;
        margin-left: 44ch;
    }

    .big-contact-info {
        width: 80%;
        margin-left: 105px;
    }

    .big-locations {
        width: 80%;
        margin-left: 105px;
    }
}

// Desktop
@media only screen and (min-width: 1100px) {
    .contact-form {
        width: 70%;
        margin-left: 215px;
    }

    .contact-header-font {
        font-size: 40px;
    }

    .input-field {
        width: 50ch;
    }

    .input-field-long {
        width: 102ch;
    }

    .submit-btn {
        font-size: 20px;
        margin-left: 68ch;
    }

    .big-contact-info {
        width: 70%;
        margin-left: 215px;
    }

    .contact-information {
        flex-direction: row;
        margin-left: 0px;
    }

    .second-part h1 {
        font-weight: 400;
        font-size: 35px;
    color: #1F4B66;
    }

    .big-locations {
        width: 70%;
        margin-left: 215px;
    }

    .our-locations {
        flex-direction: row;
        height: 400px;
        justify-content: space-around;
    }

    .the-locations {
        margin-left:0px;
    }

    .location-on-map {
        width: 520px;
        height: 370px;
        margin-left:0px;
    }

    .same-row {
        width: 400px;
    }

    .first-part h1 {
        font-size: 35px;
    }

}