.quality-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quality-header {
    width: 100%;
    text-align: center;
}

.quality-header-font {
    font-weight: bold;
    color: #1F4B66;

}

.quality-images {
    display: flex;
}

// i-phone 5/SE
@media only screen and (min-width: 320px) {

    .quality-container {
        height: 480px;
    }

    .quality {
        width: 160px;
        height: 180px;
        padding: 10px;

    }

    .quality-header {
        margin-top: 30px;
    }

    .quality-header-font {
        font-size: 24px;
    }
    
    .quality-images {
        margin-top: 0px;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}

// // i-phone 6/7/8 
@media only screen and (min-width: 375px) {
    .quality-container {
        height: 520px;
    }

    .quality-header {
        margin-top: 30px;
    }

    .quality-header-font {
        font-size: 30px;
    }

    .quality {
        width: 180px;
        height: 200px;
        padding: 10px;
    }
}

// // i-phone 6/7/8 Plus
@media only screen and (min-width: 414px) {

    .quality-images {
        margin-top: 0px;
        flex-direction: row;
        flex-wrap: wrap;
        width: 95%;
    }

    .quality {
        width: 188px;
        height: 200px;
    }
}

// // Ipad
@media only screen and (min-width: 768px) {
    .quality-container {
        height: 930px;
    }

    .quality-header-font {
        font-size: 50px;
    }

    .quality {
        width: 370px;
        height: 375px;
    }

    .quality-images {
        margin-top: 30px;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
    }
}

// // Ipad Pro

@media only screen and (min-width: 1024px) {
    .quality-container {
        height: 1050px;
    }

    .quality-header-font {
        font-size: 50px;
    }

    .quality {
        width: 410px;
        height: 415px;
    }

    .quality-images {
        margin-top: 30px;
        flex-direction: row;
        width: 81%;
        flex-wrap: wrap;
    }
}

// Desktop
@media only screen and (min-width: 1100px) {
    .quality-container {
        height: 520px;
    }

    .quality-header {
        margin-top: 30px;
    }

    .quality-header-font {
        font-size: 50px;
    }

    .quality {
        width: 310px;
        height: 365px;
        display: block;
        padding: 10px;
    }

    .quality-images {
        margin-top: 30px;
        flex-direction: row;
        flex-wrap: nowrap;
    }
}