.footer-container {
    background: #1F4B66;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
}

.the-partition {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    text-align: center;
}


.the-row {
    display: flex;
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
}

.social-icons-style {
    cursor: pointer;
    color: white;
}

.social-icons-style:hover {
    color: #EA8E4A;
}

.footer-links {
    color: white;
}

.footer-links:hover {
    color: #EA8E4A;
    text-decoration: none;
}

.vl {
    opacity: .5;
}

.the-down-arrow {
    box-sizing: border-box;
    height: 3vw;
    width: 3vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}

.the-down-arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
}

.big-new-div {
    display: flex;
    flex-direction: column;
    height: 190px;
    align-items: center;
}

.the-new-div {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.arrow-statement {
    padding-right: 8px;
}

.copyright {
    height: 25px;
    background-color:#10304b;
    text-align: center;
    color: white;
}

// i-phone 5/SE
@media only screen and (min-width: 320px) {
    .footer-container {
        height: 150px;
    }

    .social-icons-style {
        font-size: 22px;
    }

    .google-maps {
        display: none;
    }

    .footer-container {
        height: 240px;
    }

    .the-row p {
        font-size: 10px;
        padding-left: 2px;
    }

    .the-partition h3 {
        font-size: 12px;
    }

    .footer-links {
        font-size: 13px;
        width: 85px
    }

    .vl {
        border-left: 2px solid white;
        height: 200px;
    }
}

// // i-phone 6/7/8 
@media only screen and (min-width: 375px) {
    .footer-container {
        height: 240px;
    }

    .social-icons-style {
        font-size: 25px;
    }

    .the-row p {
        font-size: 12px;
        padding-left: 5px;
    }

    .the-partition h3 {
        font-size: 12px;
    }

    .footer-links {
        font-size: 12px;
        width: 85px
    }

    .vl {
        border-left: 2px solid white;
        height: 200px;
    }
}

// // i-phone 6/7/8 Plus
@media only screen and (min-width: 414px) {
    .footer-container {
        height: 240px;
    }

    .the-row p {
        font-size: 12px;
        padding-left: 5px;
    }

    .the-partition h3 {
        font-size: 12px;
    }

    .footer-links {
        font-size: 13px;
        width: 85px
    }

    .vl {
        border-left: 2px solid white;
        height: 200px;
    }

    .social-icons-style {
        font-size: 25px;
    }
}

// // Ipad
@media only screen and (min-width: 768px) {

    .google-maps {
        display: block;
        width: 225px;
        height: 180px;
    }

    .social-icons-style {
        font-size: 50px;
        padding-right: 20px;
    }

    .the-row p {
        font-size: 12px;
        padding-left: 0px;
    }

    .the-partition h3 {
        font-size: 13px;
    }

    .footer-links {
        font-size: 13px;
        width: 80px
    }

}

// // Ipad Pro

@media only screen and (min-width: 1024px) {

    .google-maps {
        width: 340px;
        height: 180px;
    }

    .the-row p {
        font-size: 15px;
        padding-left: 0px;
    }

    .the-partition h3 {
        font-size: 15px;
    }

    .footer-links {
        font-size: 15px;
        width: 90px
    }
}

// Desktop
@media only screen and (min-width: 1100px) {
    .footer-container {
        height: 300px;
    }

    .google-maps {
        display: block;
        width: 427px;
        height: 235px;
    }

    .the-row p {
        font-size: 20px;
        padding-left: 10px;
    }

    .the-partition h3 {
        font-size: 22px;
    }

    .footer-links {
        font-size: 20px;
        width: 100%;
    }

    .social-icons-style {
        font-size: 50px;
        padding-right: 20px;
    }

    .vl {
        border-left: 3px solid white;
        height: 250px;
    }
}