body {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
    font-family: 'Montserrat', sans-serif;
}

.why-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-header {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.why-header h1 {
    font-weight: bold;
    color: #1F4B66;
}

.big-container {
    display: flex;
    flex-direction: row;
}

.left-container {
    display: flex;
    flex-direction: column;
}

.why-card-container {
    // z-index: 1;
    margin-top: 20px;
}

.why-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    border-radius: 20px;
    box-shadow: 2px 2px rgba(156, 154, 154, 0.4);
}

.why-number {
    margin-left: -28px;
    padding-right: 10px;
}

.why-content {
    display: flex;
    flex-direction: column;
}

.why-content-header {
    color: #1F4B66;
}

.why-content-header h1 {
    font-weight: bold;
}

.why-content-description {
    color: #555555;
    width: 98%;
}

.numberCircle {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    padding: 8px;
    border: 2px solid;
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.blue {
    background: #1F4B66;
}

.orange {
    background: #EA8E4A;
}

.right-container {
    display: flex;
    flex-wrap: wrap;
    background: #1F4B66;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    z-index: -1;
}

.why-mci-image {
    border-radius: 20px;
    margin-left: 40px;
}

// i-phone 5/SE
@media only screen and (min-width: 320px) {
    .right-container {
        display: none;
    }

    .why-header h1 {
        font-size: 30px;
    }

    .why-card {
        width: 255px;
        height: 255px;
    }

    .why-content-header h1 {
        font-size: 18px;
    }

    .why-header {
        padding-bottom: 0px;
    }

    .big-container {
        padding-bottom: 30px;
    }
}

// // i-phone 6/7/8 
@media only screen and (min-width: 375px) {

    .right-container {
        display: none;
    }

    .why-header h1 {
        font-size: 30px;
    }

    .why-card {
        width: 318px;
        height: 200px;
    }

    .why-content-header h1 {
        font-size: 20px;
    }

    .why-header {
        padding-bottom: 0px;
    }

    .big-container {
        padding-bottom: 50px;
    }
}

// // Ipad
@media only screen and (min-width: 768px) {
    .why-header h1 {
        font-size: 50px;
    }

    .right-container {
        display: flex;
        height: 735px;
        width: 390px;
        margin-top: 90px;
    }

    .why-mci-image {
        height: 165px;
        width: 250px;
    }
}

// // Ipad Pro

@media only screen and (min-width: 1024px) {

    .why-header h1 {
        font-size: 50px;
    }

    .right-container {
        display: flex;
        height: 735px;
        width: 646px;
        margin-top: 90px;
    }

    .why-mci-image {
        height: 245px;
        width: 270px;
    }
}

// Desktop
@media only screen and (min-width: 1100px) {
    .why-container {
        height: 765px;
    }

    .why-header h1 {
        font-size: 50px;
    }

    .right-container {
        display: flex;
    }

    .why-card {
        width: 600px;
        height: 130px;
    }

    .why-content-header h1 {
        font-size: 30px;
    }

    .why-header {
        padding-bottom: 30px;
    }

    .why-mci-image {
        height: 275px;
        width: 315px;
    }

    .right-container {
        height: 620px;
        width: 800px;
        margin-left: -50px;
        margin-top: 0px;
    }

    .big-container {
        padding-bottom: 0px;
    }
}