.clients-from-container {
    display: flex;
    padding: 25px;
    background: url(../../../../../assets/images/our-clients-from.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    // margin-top: 25px;
}

.clients-from-header {
    width: 100%;
    text-align: center;
}

.clients-from-header h1 {
    font-weight: bold;
    color: white;
}

// .clients-map {
//     width: 900px;
//     height: 400px;
// }

// i-phone 5/SE
@media only screen and (min-width: 320px) {
    .clients-from-header h1 {
        font-size: 30px;
    }

    .clients-map {
        width: 290px;
        height: 100px;
    }

    .clients-from-header h1 {
        font-size: 26px;
    }
}

// // i-phone 6/7/8 
@media only screen and (min-width: 375px) {

    .clients-from-header h1 {
        font-size: 30px;
    }

    .clients-map {
        width: 350px;
        height: 140px;
    }
}

@media only screen and (min-width: 768px) {
    .clients-map {
        width: 700px;
        height: 250px;
    }
}

// // Ipad Pro

@media only screen and (min-width: 1024px) {
    .clients-from-header h1 {
        font-size: 50px;
    }

    .clients-map {
        width: 900px;
        height: 250px;
    }

}

// Desktop
@media only screen and (min-width: 1100px) {
    .clients-from-container {
        height: 540px;
    }

    .clients-from-header h1 {
        font-size: 50px;
    }

    .clients-map {
        width: 1160px;
        height: 300px;
    }

}